<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: "#ebadd3";
        }
    </style>
    <title>Rendering Error</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col text-center mb-3">
        <h1>There was an error rendering the page</h1>
        <p>Please refresh the page in a few seconds. If the issue persists, please contact admin@topekacatcafe.com</p>
      </div>
    </div>
  </div>
</body>
</html>